
{block topMenu}{include ../topMenu.latte}{/block}
{block content}

		<div class="body-text">
			<div class="center">
						<h1><i class="icon-shocked"></i></h1>
							<p>Oh no! There are no tasks in Tazkie. <br />
							... but you can easily <a href="#">create new task</a></p>
			</div>
		</div>
