/* ==========================================================================
   Breakpoint Settings / Direction
   ========================================================================== */

// Fix Breakpoints Sizes
$breakpoints: (
  'xsmall':     320px,
  'small':      568px,
  'medium':     768px,
  'normal':     1024px,
  'large':      1280px,
  'xlarge':     1440px,
);

$breakpoints-v: (
  'small':      600px,
  'normal':     800px,
  'large':      1000px,
);

// horizontal
$media-direction: max;

// vertical
$media-direction-v: max;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

@mixin breakpoint($breakpoint,$direction: $media-direction) {

  @if map-has-key($breakpoints, $breakpoint) {
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

     @media (#{$direction}-width: $breakpoint) {
       @content;
     }
  }
}

@mixin breakpointV($breakpoint,$direction: $media-direction-v) {

  @if map-has-key($breakpoints-v, $breakpoint) {
    @media (#{$direction}-width: #{map-get($breakpoints-v, $breakpoint)}) {
      @content;
    }
  }

  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

     @media (#{$direction}-width: $breakpoint) {
       @content;
     }
  }
}
