html,
body {
	height: 100%;
	background: rgba($body-bg, 0.05);
	position: relative;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

* {
	color: $text-color;
	font-size: $font-size-base;
}

#tazkie-logo {
    background:url(/img/tazkie-logo.png) center top;
    width: 111px;
    height: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ==========================================================================
    HYPERLINKS & TEXTS & HEADINGS
   ========================================================================== */

a {
		color: rgba($color-blue, 0.90);
		font-weight:600;
    @include transition(all 0.7s ease-out);
		-ms-transition: all 0.7s ease-out;
    text-decoration: $link-decoration !important;
    cursor: pointer;

		&:hover,
		&:active {
			color: darken($color-blue, 10%);
			text-decoration: $link-hover-decoration !important;
		}
}

/* HEADINGS ------------------------------- */
h1 {
	font-size: $font-size-h1;
}
h2 {
	font-size: $font-size-h2;
}
h3 {
	font-size: $font-size-h3;
}
h4 {
	font-size: $font-size-h4;
}
h5 {
	font-size: $font-size-h5;
}
h6 {
	font-size: $font-size-h6;
}

/* LABELS ------------------------------- */

.label-required {
    color: $color-requirement;
    text-transform: lowercase;
    font-style: italic;
}

.body-text {
		///padding: 0 0 0 140px;
		font-size: 2.28em;
		line-height: 1.3em;
		font-weight: 200;

		& p {
			color: $color-contrast-2Q;
		}
		& h1 {
			font-size: 2em;
			color: $color-contrast-2Q;
		}

		& a {
			font-weight: 400;
		}

		.center {
			text-align: center;
			padding-top: 70px;
		}
	}

/* ==========================================================================
    INPUTS
   ========================================================================== */

.input-field input {
		border-color: $color-input-border-default !important;
		color: $text-color;
		font-weight: 600;
		font-size: $font-size-base;

		&:focus,
		&:hover {
			border-color: $link-color !important;
			box-shadow: 0 1px 0 0 rgba($link-color, 0.25) !important;
		}

		& + label{
			text-transform: uppercase;
			font-size: $font-size-h4;
			font-weight:300;
		}
		&:focus + label,
		&:hover + label {
			color: $link-color !important;
			font-size: $font-size-h5;
		}

		&.valid{
			border-bottom: 1px solid $color-green !important;
			box-shadow: 0 1px 0 0 rgba($color-green, 0.25) !important;
		}
		&.invalid{
			border-bottom: 1px solid $color-red !important;
			box-shadow: 0 1px 0 0 rgba($color-red, 0.25) !important;
		}
	}

	.errors {
		width: 100%;
		padding: 20px 10px 10px;
		background-color: $color-red;
		color: $color-white;

		.ico-validation {
			font-size: 4em;
			color: $color-white;
			}
	}


/* ==========================================================================
   BUTTONS
  ========================================================================== */

.btn {
	&.waves-effect.waves-light {
		&.custom-primary {
			background-color: $color-blue;
			color: $color-button-default;
			height: 50px;

			&:hover{
				background-color: darken($color-blue, 5%);
				color: $color-button-hover;
			}
		}
	}
}

/* ==========================================================================
    TOPMENU & HAMBURGER
   ========================================================================== */
	 nav.topmenu {
		 height: 50px;
		 background: none;
		 width: 100%;
		 @include box-shadow(none);
		 ///font-size: $font-size-h3;

		 & a {
				display: block;
				height: 100%;
				font-size: $font-size-h3;
		 		line-height: 2.8em;
				font-weight: 200;

				padding: 0 20px;
				font-weight: 200;
				text-align:left;
				text-decoration: none !important;
			}

			&	a:hover {
				font-weight: 400;
				color: $color-contrast;
				background: none;
				@include box-shadow(inset 0px -5px 0px 0px $color-contrast-2Q);
				text-decoration: none;
				}

			&	ul li.active {
				color: $color-contrast;
				background: none;
				@include box-shadow(inset 0px -5px 0px 0px $color-contrast);
				text-decoration: none;

				& a {
					font-weight: 600;
				}
			}
	 }

/* SIDEBAR ------------------------------- */

nav .navbar-fixed-top {
	background: none;
}


/* HAMBURGER & TRANSITIONS ------------------------------- */

	.hamburger {
		position: relative;
		top: 10px;
		z-index: 999;
		display: block;
		width: 35px;
		height: 35px;
		margin-left: 20px;
		margin-right: 40px;
		background: transparent;
		border: none;

		&:hover,
		&:focus,
		&:active {
			outline: none;
		}

		&.is-closed:before {
			content: '';
			display: block;
			width: 100px;
			color: $color-white;
			line-height: 2em;
			text-align: center;
			opacity: 0;
			@include transform(translate3d(0,0,0));
			@include transition(all .35s ease-in-out);
		}

		&.is-closed:hover:before {
			opacity: 1;
			display: block;
			@include transform(translate3d(-100px,0,0));
			@include transition(all .35s ease-in-out);
		}

		&.is-closed .hamb-top,
		&.is-closed .hamb-middle,
		&.is-closed .hamb-bottom,
		&.is-open .hamb-top,
		&.is-open .hamb-middle,
		&.is-open .hamb-bottom {
			position: absolute;
			left: 0;
			height: 4px;
			width: 100%;
		}

		&.is-closed .hamb-top,
		&.is-closed .hamb-middle,
		&.is-closed .hamb-bottom {
			background-color: $color-contrast-3Q;
		}

		&.is-closed:hover .hamb-top,
		&.is-closed:hover .hamb-middle,
		&.is-closed:hover .hamb-bottom {
			background-color: $color-contrast-3Q;
		}

		&.is-closed .hamb-top {
			top: 5px;
			@include transition(all .35s ease-in-out);
		}

		&.is-closed .hamb-middle {
			top: 50%;
			margin-top: -2px;
		}

		&.is-closed .hamb-bottom {
			bottom: 5px;
			@include transition(all .35s ease-in-out);
		}

		&.is-closed:hover .hamb-top {
			top: 0;
			@include transition(all .35s ease-in-out);
		}

		&.is-closed:hover .hamb-bottom {
			bottom: 0;
			@include transition(all .35s ease-in-out);
		}

		&.is-open .hamb-top,
		&.is-open .hamb-middle,
		&.is-open .hamb-bottom {
			background-color: $color-contrast-3Q;
		}

		&.is-open .hamb-top,
		&.is-open .hamb-bottom {
			top: 50%;
			margin-top: -2px;
		}

		&.is-open .hamb-top {
			@include transform(rotate(45deg));
			@include transition(transform .2s cubic-bezier(.73,1,.28,.08));
		}

		&.is-open .hamb-middle {
			display: none;
		}

		&.is-open .hamb-bottom {
			@include transform(rotate(-45deg));
			@include transition(transform .2s cubic-bezier(.73,1,.28,.08));
		}

		&.is-open:before {
			content: '';
			display: block;
			width: 100px;
			opacity: 0;
			@include transform(translate3d(0,0,0));
			@include transition(all .35s ease-in-out);
    }

		&.is-open:hover:before {
			opacity: 1;
			display: block;
			@include transform(translate3d(-100px,0,0));
			@include transition(all .35s ease-in-out);
    }
}
