

/* BASIC COLORS ------------------------------- */
$color-contrast: #2C2825; //332E2A;
$color-contrast-3Q: rgba($color-contrast, 0.75);
$color-contrast-2Q: rgba($color-contrast, 0.5);
$color-contrast-1Q: rgba($color-contrast, 0.25);
$color-contrast-0Q: rgba($color-contrast, 0.1);

$color-white: #FCFCFC;
$color-white-3Q: rgba($color-white, 0.75);
$color-white-2Q: rgba($color-white, 0.5);
$color-white-1Q: rgba($color-white, 0.25);

$color-white-bright: #F2EEE9;

/* DOPLNKOVE BARVY ------------------------------- */
$color-blue: #6886F2; //448AFF;
$color-blue-dark: #4568EA; //1976D2;

$color-red-light: #FF7575;
$color-red: #FF5252; //F44336;
$color-red-dark: #EC2A2A; //D32F2F;

$color-orange: #FF5722;
$color-orange-dark: #E64A19;

$color-yellow-light: #FFD37A;
$color-yellow: #FFC857;
$color-yellow-dar: #EAAD30;

$color-green: #8BC34A; //9DD86C;
/* background-radek: */

/* FONT & TEXT SETTINGS ------------------------------- */
//$font-family-base: 'Open Sans', sans-serif !important;
$icons-font-path: "/fonts/tazkie-font/" !default; ///overwite _variables.scss in Materialize vendor

$body-bg: $color-white-bright;
$box-shadow: $color-contrast;

///$text-color-focus: $color-contrast;
$text-color: $color-contrast-3Q;
///$text-color: rgba($color-contrast, 0.7);

$base-font-family: inherit;
$base-font-size: $font-size-root;
$base-font-weight: 400;

//$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
//$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
//$font-size-h1: floor(($font-size-base * 2.15)); // ~30px
//$font-size-h2: floor(($font-size-base * 1.75)); // ~24px
//$font-size-h3: ceil(($font-size-base * 1.25)); // ~18px
//$font-size-h4: $font-size-base; // ~14px
//$font-size-h5: ceil(($font-size-base * 0.85)); // ~12px
//$font-size-h6: ceil(($font-size-base * 0.7)); // ~10px

/* By default, this inherits from the `<body>`.------------------------------- */
$heading-font-family:inherit;
$headings-font-weight: 200 !important;
$heading-color: inherit;

/* LINK STYLE SETTINGS ------------------------------- */
$link-color: rgba($color-blue-dark, 0.75);
$link-hover-color: $color-blue-dark;
//$link-visited-color: none;
$link-hover-decoration: none;
$link-decoration: underline;

/* ADDITIONAL COLOR SETUPS ------------------------------- */

$color-requirement: $color-red-dark;
$color-input-border-default: $color-contrast-1Q;

$color-button-default: $color-white-3Q;
$color-button-hover: $color-white;



/** backgrounds **/
$backgroundA: $color-contrast-0Q;
$backgroundB: rgba(252, 252, 252, 0.75);

/** shadows **/
$shadowA: $backgroundA;

/* borders **/
$borderA: rgba(75, 65, 60, 0.25);




/* FONTS ------------------------------- */

@font-face {
    font-family: 'open_sanslight';
    src: url('./../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('./../fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
         url('./../fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
         url('./../fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
		font-family: 'opensans_regular';
		src: url('./../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
		src: url('./../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('./../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
				 url('./../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
				 url('./../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#opensans_regular') format('svg');
		font-weight: 500;
		font-style: normal;
}

@font-face {
		font-family: 'opensans_semibold';
		src: url('./../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
		src: url('./../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('./../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'),
				 url('./../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'),
				 url('./../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#opensans_semibold') format('svg');
		font-weight: 600;
		font-style: normal;
}

@font-face {
		font-family: 'opensans_bold';
		src: url('./../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
		src: url('./../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('./../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
				 url('./../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
				 url('./../fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#opensans_bold') format('svg');
		font-weight: 700;
		font-style: normal;
}

h1,h2,h3,h4,h5{
	font-family: 'open_sanslight' !important;
	* {
		font-family: 'open_sanslight' !important;
	}
	strong {
		font-family: 'opensans_bold' !important;
	}
}

p,td,div {
	font-family: 'opensans_regular' !important;
}


/** styleguide **/
$booger-50: rgba(138, 195, 73, 0.5);
$grapefruit: #ff5757;
$text_default: #4b423c;
$vibrant-green: #07cb07;
$bg_category: rgba(75, 65, 60, 0.25);
$bg_header: rgba(75, 65, 60, 0.1); // je $color-contrast-0Q
$light-grey: #f2eee9;
$ico_lists-nohover: rgba(242, 238, 233, 0.5);
$grapefruit-two: #ff5252;
$white: #ffffff;
$light-gold: #ffc857;
$white-two: #fcfcfc;
$white-two-75: rgba(252, 252, 252, 0.75);
$ico_color-default: rgba(75, 66, 60, 0.25);
$ico_lists-hover: #281f19;
$greyish-brown-50: rgba(75, 66, 60, 0.5);
$text-default-75: rgba(75, 66, 60, 0.75);
$linkDefault: #6886f2; // je $color-blue
$btn_google-hover: #dd4b39;
$dark-sky-blue: #4568ea; // je $color-blue-dark
$black-50: rgba(51, 46, 42, 0.5);


.task-list-group-day {
	font-family: 'open_sanslight';
	font-size: 18px;
	color: $text_default;
}

.task-list-group-done {
	font-family: 'open_sanslight';
	font-size: 18px;
	font-weight: 300;
	color: $text_default;
}

.header-navbar-selected {
	font-family: 'open_sanslight';
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	color: $ico_lists-hover;
}

.text-style {
	font-family: 'open_sanslight';
	font-size: 16px;
	color: $text_default;
}

.search-input-label {
	font-family: 'open_sanslight';
	font-size: 16px;
	font-weight: 300;
	color: $greyish-brown-50;
}

.task-input-label {
	font-family: 'open_sanslight';
	font-size: 16px;
	font-weight: 300;
	color: $greyish-brown-50;
}

.header-navbar-default {
	font-family: 'open_sanslight';
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
	text-align: center;
	color: $text_default;
}

.task-list-days-selected {
	font-family: 'open_sanslight';
	font-size: 14px;
	color: $white-two;
}

.task-list-days-nohover {
	font-family: 'open_sanslight';
	font-size: 14px;
	font-weight: 300;
	color: $text_default;
}
