{block topMenu}{include ../topMenu.latte}{/block}
{block content}
		<div class="container">
			<header>
				<p>Oh no! There are no tasks in Tazkie! <br />... but you can create <a href="http://www.google.com/nexus/index.html">new one</p>
			</header>
		</div><!-- /container -->

