{block topMenu}{include ../topMenu.latte}{/block}
{block content}


	<div class="body-text">
		<div class="center">
					<h1><i class="icon-shocked"></i></h1>
						<p>Seems you don't have any projects, yet.<br />
						... so, why don't we <a href="#">setup new project</a>?</p>
		</div>
	</div>
