/* ==========================================================================
   FORMS - OBECNÉ
  ========================================================================== */

.form,
.form-login,
.form-newproject,
.form-tasklist,
.form-registration {
	padding: 15px;
	margin: 0 auto;

	button[type="submit"] {
		margin-top: 15px;
		margin-bottom: 15px;
    }
}

.form-group {

	&.login,
	&.registration {
		position:relative;
		margin-top: 10px;

	}
	&.tight {
    margin-top: 10px;
    margin-bottom: 25px;
    }
}

/* ==========================================================================
   LOGIN PAGE
  ========================================================================== */

.dialog-header,
.login-header {
	///height: 100%;
	width: 100%;
	font-weight: 600;
	position: relative;

	.heading {
		text-align: center !important;
		padding-top: 1%;
		padding-top: 1vh;
	}

}

.form-login h2,
.form-registration h2 {
	margin-bottom: 0px;
}

.form-login .row .col {
	float: none;
}

.form-registration .row .col {
	float: none;
}

.login-socbuttons {
	display: inline-block;
	text-align: center;
}

input[type="radio"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"],
input[type="checkbox"],
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
	text-indent: 0px;
	visibility: visible;
	position: relative;
	top: 0px;
	left: 0px;
}
