.lt-layout-list {
	display: flex;
	width: 100%;
	height: 100%;

	.lt-list {
		flex: 1 100%;
		height: 100%;
		padding: 20px;
	}

	.lt-task-detail-window {
		// display: none;
		transition: 300ms;
	}


}

.fixed-action-btn {
	right: 45px;
	bottom: 45px;
}

body.is-navigation {
	padding-top: 50px;
}

body.task-detail-window-open {

	.topmenu {
		padding-right: 320px;
	}

	.lt-task-detail-window {
		display: block;
		text-align: left;
		flex: 1 100%;
		height: 100%;
		min-width: 320px;
		z-index: 2;

		.lt-task-detail-quick {
			position: fixed;
			top: 0px;
			right: 0px;
			min-width: 320px;
			max-width: 50%;
			background-color: $backgroundB;
			box-shadow: -1px 0 4px 2px $shadowA;
			border: solid 1px $borderA;
			height: 100%;
			z-index: 1000;
		}
	}

	.fixed-action-btn {
		right: 340px;
	}
}
