.task-block {
	text-align: left;

	.task-block-day {
		max-width: 980px;
		margin: 10px auto;
		padding: 10px;

		border: 1px solid black;

		.task-block-day-items {
			padding: 10px;
			border: 1px solid green;

			.task-item {
				padding: 5px;
				border: 1px solid blue;
			}
		}
	}
}


.lt-task-detail {
	.lt-task-detail-header {
		background: $backgroundB;
		padding: 10px 10px;

		a {
			color: $text-color;
			text-decoration: none !important;
			margin: 0 10px 0 0;
			line-height: 20px;

			&:hover {
				color: $color-green;
			}

			.icon-check {
				font-size: 24px;
				vertical-align: middle;
			}
		}
	}
}
