.task-block {
	text-align: left;

	.task-block-day {
		max-width: 980px;
		margin: 10px auto;
		padding: 10px 20px 20px 20px;
		background: $color-contrast-0Q;


		.task-block-day-title-counter {
			.count-finished,
			.count-total {
				display: inline-block;
				border-radius: 100%;
				vertical-align: top;
				background: $color-red-light;
				color: $color-white;
				min-width: 25px;
				height: 25px;
				line-height: 25px;
				text-align: center;
				margin: 0 5px;

				&.count-total {
					background-color: $light-grey;
					color: $text_default;
				}
			}
		}

		.task-block-day-items {

			.task-item-wrapper {
				position: relative;

				a {
					text-decoration: none !important;
					font-family: 'open_sanslight' !important;
					color: $color-contrast-2Q;
					font-size: 1.15em;
				}

				.task-finish {
					position: absolute;
					display: block;
					top: 17px;
					left: 18px;
					color: $color-contrast-1Q;
					font-size: 1.25em; //20px
				}

				.task-item {
					padding: 16px 5px 5px 50px;
					margin: 5px 0 0 0;
					border-radius: 3px;
					background-color: $color-white-3Q;
					border: solid 1px $bg_category;
					cursor: pointer;
					display: block;
					height: 3.2em; //50px

					&:hover {
						background-color: $color-white;
						box-shadow: 0 1px 5px 0 $text_default;
						border: solid 1px $bg_category;
						color: $color-contrast;
					}

					&.open {
						color: $color-white;
						background-color: $color-blue-dark;
						box-shadow: 0 2px 5px 0 $black-50, 0 0 2px 0 $black-50;
						border: none;

						a {
							color: $color-white;
						}
						.task-finish {
							color: $color-white-2Q;
						}
					}
				}

				&:hover {
					.task-item {
						background-color: $color-white;
						box-shadow: 0 1px 5px 0 $text_default;
						border: solid 1px $bg_category;

						&.open {
							color: $color-white;
							background-color: $color-blue-dark;
							box-shadow: 0 2px 5px 0 $black-50, 0 0 2px 0 $black-50;

							a {
								color: $color-white;
							}
						}
					}
				}
			}
		}
	}
}


.lt-task-detail {

	.line {
		width: 80%;
		height: 1px;
		border-top: solid 1px $bg_category;
		margin: 0 auto;
	}

	.lt-task-detail-header {
		background: $backgroundB;
		padding: 10px 10px;

		a {
			color: $color-darkside;
			text-decoration: none !important;
			margin: 0 10px 0 0;
			line-height: 20px;

			&:hover {
				color: $color-green;
			}

			.icon-check {
				font-size: 24px;
				vertical-align: middle;
			}
		}
	}

	.lt-task-detail-footer {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding: 10px;
		border-sizing: border-box;

		.line {
			margin-bottom: 10px;
		}

		a, span {
			color: $linkDefault;
			text-decoration: none;
			display: inline-block;
			vertical-align: top;
			line-height: 28px;
		}

		.created {
			text-align: center;
			line-height: 30px;
			color: $text-default-75;
		}

		.toClose {
			cursor: pointer;
		}

		.toRemove {
			float: left;
		}

		.toDetail,
		.toClose {
			float: right;
		}

		.toRemove {
			font-size: 25px;
		}

		.toClose {
			margin-left: 5px;
			font-size: 30px;
		}
	}
}
