#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague

application:
	mapping:
		*: App\*Module\Presenters\*Presenter

	errorPresenter: "Error"

database:
	default:
		dsn:          "mysql:host=217.31.57.185;dbname=corben_2"
		user:         "corben"
		password:     "NPVVKcNPJFVnqb"
		options:      [PDO::MYSQL_ATTR_COMPRESS = true]
		debugger:     true        # panel v debugger baru
		explain:      true        # explain dotazů v debugger bar
		autowired:    true

extensions:
	translator: l10nNetteTranslator\ApplicationDI\Extension

translator:
	## languages are required
	languages:
		-
			lang: l10n\Language\CzechLanguage ## must implements l10n\Language\ILanguage
			plural: l10n\Plural\PluralRule8 ## must implements l10n\Plural\IPlural
			default: true
		-
			lang: l10n\Language\SlovakLanguage ## if language implements l10n\Plural\IPlural, you can ignore plural section

		-
			lang: l10n\Language\EnglishLanguage

	## storage is optional
	storage: @translator_simple_nette_storage ## must implements l10nNetteTranslator\Storage\IStorage


services:
	- App\Model\Language(@httpRequest)
	- App\Model\Authenticator
	- App\Model\User
	- App\Model\UserList
	- App\Model\Task
	- App\Model\TaskFactory
	- App\Model\TaskList
	- App\Model\TaskListFactory
	- App\Model\Tag
	- App\Model\TagList
	- App\Model\StateList
	- App\Model\Project
	- App\Model\ProjectFactory

	translator_nette_storage:
		class: Nette\Caching\Storages\FileStorage(%appDir%/locale) ## Texts will be saved in %appDir%/Texts as file named by ISO 639-1
		autowired: false

	translator_simple_nette_storage: l10nNetteTranslator\Storage\SimpleNetteStorage(@translator_nette_storage)
