<div class="lt-layout-filter">
	<button>
		Filter
	</button>
</div>

<div class="lt-layout-list">
	<div class="lt-list" n:snippet="taskList">
		<div class="task-block">
		{if isset($tasks)}
			{var $list = $tasks}
		{else}
			{var $list = $List->getTasks()}
		{/if}

		{foreach \App\Model\Helper::listDay($list) as $id=>$block}
		<div class="task-block-day">
			<div class="task-block-day-title">
				<span class="task-block-day-title-name">{$block[day]}</span>
				<span class="task-block-day-title-counter">
					{if $block[finished][current]>0}<span class="count-finished">{$block[finished][current]}</span>/{/if}<span class="count-total">{count($block[items])}</span>
					<span class="avarage">{round($block[finished][avarage])}%</span> done
				</span>
			</div>
			<div class="task-block-day-items">
			{foreach $block[items] as $item}
			<div class="task-item-wrapper">
				{if !$item->isFinished()}
				<a n:href="taskDone! $item->ID,$id,$Project->pr_ID, $List?$List->tl_ID:null" class="ajax task-finish"><span class="icon icon-checkmark"></span></a>
				{/if}
				<a n:href="task! $item->ID,$Project->pr_ID" class="ajax task-item" data-task-id="{$item->ID}">

					<span>{$item->name}</span>
					{$item|flags}
						{*href="{plink Task:detail id=>$item->ID,projectID=>$Project->pr_ID,projectName=>$Project->pr_name,listID=>$List ? $List->tl_ID : null,listName=>$List ? $List->tl_name : null}"*}
				</a>
			</div>
			{/foreach}
			</div>
		</div>
		{/foreach}
		</div>
	</div>

{snippet task}
<div class="lt-task-detail-window">
	{control taskDetail}
</div>
{/snippet}
</div>
