{var $robots = noindex}

{block content}

<div class="page-sign">
	<h1 n:block="title">{_'signin'}</h1>

	{control signInForm}

	<p>Default username is <i>demo</i>, with password <i>xxx</i></p>

	<p><a href="{link Registration:}">Registrace</a> | <a href="">Zapomněl jsem heslo</a></p>
</div>