@font-face {
	font-family: 'tazkie_final';
	src:url('fonts/tazkie_final.eot?smg5pl');
	src:url('fonts/tazkie_final.eot?smg5pl#iefix') format('embedded-opentype'),
		url('fonts/tazkie_final.ttf?smg5pl') format('truetype'),
		url('fonts/tazkie_final.woff?smg5pl') format('woff'),
		url('fonts/tazkie_final.svg?smg5pl#tazkie_final') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'tazkie_final';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
	content: "\e000";
}
.icon-error_outline:before {
	content: "\e001";
}
.icon-warning:before {
	content: "\e002";
}
.icon-library_add:before {
	content: "\e013";
}
.icon-library_books:before {
	content: "\e014";
}
.icon-new_releases:before {
	content: "\e016";
}
.icon-comment:before {
	content: "\e048";
}
.icon-forum:before {
	content: "\e04d";
}
.icon-live_help:before {
	content: "\e050";
}
.icon-message:before {
	content: "\e053";
}
.icon-chat_bubble:before {
	content: "\e054";
}
.icon-chat_bubble_outline:before {
	content: "\e055";
}
.icon-add:before {
	content: "\e069";
}
.icon-add_box:before {
	content: "\e06a";
}
.icon-add_circle:before {
	content: "\e06b";
}
.icon-add_circle_outline:before {
	content: "\e06c";
}
.icon-archive:before {
	content: "\e06d";
}
.icon-backspace:before {
	content: "\e06e";
}
.icon-clear:before {
	content: "\e070";
}
.icon-content_copy:before {
	content: "\e071";
}
.icon-content_paste:before {
	content: "\e073";
}
.icon-create:before {
	content: "\e074";
}
.icon-drafts:before {
	content: "\e075";
}
.icon-inbox:before {
	content: "\e07a";
}
.icon-remove:before {
	content: "\e07f";
}
.icon-remove_circle:before {
	content: "\e080";
}
.icon-remove_circle_outline:before {
	content: "\e081";
}
.icon-report:before {
	content: "\e084";
}
.icon-access_alarms:before {
	content: "\e08d";
}
.icon-access_time:before {
	content: "\e08e";
}
.icon-add_alarm:before {
	content: "\e08f";
}
.icon-attach_file:before {
	content: "\e0c0";
}
.icon-format_align_center:before {
	content: "\e0ce";
}
.icon-format_align_justify:before {
	content: "\e0cf";
}
.icon-format_align_left:before {
	content: "\e0d0";
}
.icon-format_align_right:before {
	content: "\e0d1";
}
.icon-format_bold:before {
	content: "\e0d2";
}
.icon-format_list_bulleted:before {
	content: "\e0db";
}
.icon-format_list_numbered:before {
	content: "\e0dc";
}
.icon-format_quote:before {
	content: "\e0de";
}
.icon-insert_drive_file:before {
	content: "\e0e7";
}
.icon-mode_edit:before {
	content: "\e0ee";
}
.icon-attachment:before {
	content: "\e0f7";
}
.icon-folder:before {
	content: "\e101";
}
.icon-folder_open:before {
	content: "\e102";
}
.icon-folder_shared:before {
	content: "\e103";
}
.icon-keyboard_arrow_down:before {
	content: "\e10f";
}
.icon-keyboard_arrow_left:before {
	content: "\e110";
}
.icon-keyboard_arrow_right:before {
	content: "\e111";
}
.icon-keyboard_arrow_up:before {
	content: "\e112";
}
.icon-broken_image:before {
	content: "\e142";
}
.icon-dehaze:before {
	content: "\e15c";
}
.icon-filter_frames:before {
	content: "\e173";
}
.icon-flash_on:before {
	content: "\e17b";
}
.icon-image:before {
	content: "\e186";
}
.icon-navigate_before:before {
	content: "\e19a";
}
.icon-navigate_next:before {
	content: "\e19b";
}
.icon-timer:before {
	content: "\e1b6";
}
.icon-timer_off:before {
	content: "\e1b7";
}
.icon-beenhere:before {
	content: "\e1c7";
}
.icon-local_hospital:before {
	content: "\e1e0";
}
.icon-local_offer:before {
	content: "\e1e6";
}
.icon-local_post_office:before {
	content: "\e1ec";
}
.icon-local_print_shop:before {
	content: "\e1ed";
}
.icon-arrow_drop_down:before {
	content: "\e201";
}
.icon-arrow_drop_down_circle:before {
	content: "\e202";
}
.icon-arrow_drop_up:before {
	content: "\e203";
}
.icon-cancel:before {
	content: "\e205";
}
.icon-check:before {
	content: "\e206";
}
.icon-chevron_left:before {
	content: "\e207";
}
.icon-chevron_right:before {
	content: "\e208";
}
.icon-close:before {
	content: "\e209";
}
.icon-expand_less:before {
	content: "\e20a";
}
.icon-expand_more:before {
	content: "\e20b";
}
.icon-menu:before {
	content: "\e20e";
}
.icon-keyboard_control:before {
	content: "\e20f";
}
.icon-more_vert:before {
	content: "\e210";
}
.icon-refresh:before {
	content: "\e211";
}
.icon-do_not_disturb_alt:before {
	content: "\e217";
}
.icon-do_not_disturb:before {
	content: "\e218";
}
.icon-event_available:before {
	content: "\e21a";
}
.icon-event_busy:before {
	content: "\e21b";
}
.icon-event_note:before {
	content: "\e21c";
}
.icon-sim_card_alert:before {
	content: "\e228";
}
.icon-sms_failed:before {
	content: "\e22a";
}
.icon-group:before {
	content: "\e245";
}
.icon-group_add:before {
	content: "\e246";
}
.icon-notifications:before {
	content: "\e24a";
}
.icon-notifications_none:before {
	content: "\e24b";
}
.icon-notifications_off:before {
	content: "\e24c";
}
.icon-notifications_active:before {
	content: "\e24d";
}
.icon-person:before {
	content: "\e253";
}
.icon-person_add:before {
	content: "\e254";
}
.icon-school:before {
	content: "\e259";
}
.icon-whatshot:before {
	content: "\e25b";
}
.icon-check_box:before {
	content: "\e25c";
}
.icon-check_box_outline_blank:before {
	content: "\e25d";
}
.icon-radio_button_unchecked:before {
	content: "\e25e";
}
.icon-radio_button_checked:before {
	content: "\e25f";
}
.icon-star:before {
	content: "\e260";
}
.icon-star_outline:before {
	content: "\e262";
}
.icon-account_box:before {
	content: "\e267";
}
.icon-account_circle:before {
	content: "\e268";
}
.icon-alarm:before {
	content: "\e26a";
}
.icon-alarm_add:before {
	content: "\e26b";
}
.icon-alarm_off:before {
	content: "\e26c";
}
.icon-alarm_on:before {
	content: "\e26d";
}
.icon-assessment:before {
	content: "\e271";
}
.icon-assignment:before {
	content: "\e272";
}
.icon-assignment_ind:before {
	content: "\e273";
}
.icon-assignment_late:before {
	content: "\e274";
}
.icon-assignment_return:before {
	content: "\e275";
}
.icon-assignment_returned:before {
	content: "\e276";
}
.icon-assignment_turned_in:before {
	content: "\e277";
}
.icon-bookmark:before {
	content: "\e27b";
}
.icon-bookmark_outline:before {
	content: "\e27c";
}
.icon-build:before {
	content: "\e27e";
}
.icon-check_circle:before {
	content: "\e281";
}
.icon-delete:before {
	content: "\e287";
}
.icon-description:before {
	content: "\e288";
}
.icon-done:before {
	content: "\e28a";
}
.icon-done_all:before {
	content: "\e28b";
}
.icon-favorite:before {
	content: "\e291";
}
.icon-favorite_outline:before {
	content: "\e292";
}
.icon-find_in_page:before {
	content: "\e294";
}
.icon-help:before {
	content: "\e29b";
}
.icon-highlight_remove:before {
	content: "\e29c";
}
.icon-info:before {
	content: "\e2a2";
}
.icon-info_outline:before {
	content: "\e2a3";
}
.icon-launch:before {
	content: "\e2a9";
}
.icon-list:before {
	content: "\e2aa";
}
.icon-note_add:before {
	content: "\e2b0";
}
.icon-perm_contact_calendar:before {
	content: "\e2b7";
}
.icon-power_settings_new:before {
	content: "\e2c0";
}
.icon-query_builder:before {
	content: "\e2c2";
}
.icon-question_answer:before {
	content: "\e2c3";
}
.icon-report_problem:before {
	content: "\e2c6";
}
.icon-schedule:before {
	content: "\e2c9";
}
.icon-search:before {
	content: "\e2ca";
}
.icon-turned_in:before {
	content: "\e2f8";
}
.icon-turned_in_not:before {
	content: "\e2f9";
}
.icon-verified_user:before {
	content: "\e2fa";
}
.icon-visibility:before {
	content: "\e306";
}
.icon-visibility_off:before {
	content: "\e307";
}
.icon-work:before {
	content: "\e30b";
}
.icon-help_outline:before {
	content: "\e30f";
}
.icon-zoom_in:before {
	content: "\e311";
}
.icon-zoom_out:before {
	content: "\e312";
}
.icon-indeterminate_check_box:before {
	content: "\e319";
}
.icon-pencil2:before {
	content: "\e800";
}
.icon-image2:before {
	content: "\e801";
}
.icon-library:before {
	content: "\e802";
}
.icon-file-empty:before {
	content: "\e803";
}
.icon-files-empty:before {
	content: "\e804";
}
.icon-file-text2:before {
	content: "\e805";
}
.icon-file-picture:before {
	content: "\e806";
}
.icon-file-music:before {
	content: "\e807";
}
.icon-file-play:before {
	content: "\e808";
}
.icon-file-video:before {
	content: "\e809";
}
.icon-file-zip:before {
	content: "\e80a";
}
.icon-copy:before {
	content: "\e80b";
}
.icon-paste:before {
	content: "\e80c";
}
.icon-stack:before {
	content: "\e80d";
}
.icon-database:before {
	content: "\e80e";
}
.icon-bubble:before {
	content: "\e80f";
}
.icon-bubbles:before {
	content: "\e810";
}
.icon-bubbles2:before {
	content: "\e811";
}
.icon-bubble2:before {
	content: "\e812";
}
.icon-bubbles3:before {
	content: "\e813";
}
.icon-bubbles4:before {
	content: "\e814";
}
.icon-user:before {
	content: "\e815";
}
.icon-users:before {
	content: "\e816";
}
.icon-user-plus:before {
	content: "\e817";
}
.icon-user-minus:before {
	content: "\e818";
}
.icon-user-check:before {
	content: "\e819";
}
.icon-quotes-left:before {
	content: "\e81a";
}
.icon-enlarge:before {
	content: "\e81b";
}
.icon-shrink:before {
	content: "\e81c";
}
.icon-wrench:before {
	content: "\e81d";
}
.icon-bin2:before {
	content: "\e81e";
}
.icon-clipboard:before {
	content: "\e81f";
}
.icon-link:before {
	content: "\e820";
}
.icon-attachment2:before {
	content: "\e821";
}
.icon-happy:before {
	content: "\e822";
}
.icon-happy2:before {
	content: "\e823";
}
.icon-smile:before {
	content: "\e824";
}
.icon-smile2:before {
	content: "\e825";
}
.icon-tongue:before {
	content: "\e826";
}
.icon-tongue2:before {
	content: "\e827";
}
.icon-sad:before {
	content: "\e828";
}
.icon-sad2:before {
	content: "\e829";
}
.icon-wink:before {
	content: "\e82a";
}
.icon-wink2:before {
	content: "\e82b";
}
.icon-grin:before {
	content: "\e82c";
}
.icon-grin2:before {
	content: "\e82d";
}
.icon-cool:before {
	content: "\e82e";
}
.icon-cool2:before {
	content: "\e82f";
}
.icon-angry:before {
	content: "\e830";
}
.icon-angry2:before {
	content: "\e831";
}
.icon-evil:before {
	content: "\e832";
}
.icon-evil2:before {
	content: "\e833";
}
.icon-shocked:before {
	content: "\e834";
}
.icon-shocked2:before {
	content: "\e835";
}
.icon-baffled:before {
	content: "\e836";
}
.icon-baffled2:before {
	content: "\e837";
}
.icon-confused:before {
	content: "\e838";
}
.icon-confused2:before {
	content: "\e839";
}
.icon-neutral:before {
	content: "\e83a";
}
.icon-neutral2:before {
	content: "\e83b";
}
.icon-hipster:before {
	content: "\e83c";
}
.icon-hipster2:before {
	content: "\e83d";
}
.icon-wondering:before {
	content: "\e83e";
}
.icon-wondering2:before {
	content: "\e83f";
}
.icon-sleepy:before {
	content: "\e840";
}
.icon-sleepy2:before {
	content: "\e841";
}
.icon-frustrated:before {
	content: "\e842";
}
.icon-frustrated2:before {
	content: "\e843";
}
.icon-crying:before {
	content: "\e844";
}
.icon-crying2:before {
	content: "\e845";
}
.icon-plus:before {
	content: "\e846";
}
.icon-minus:before {
	content: "\e847";
}
.icon-blocked:before {
	content: "\e900";
}
.icon-cross:before {
	content: "\e848";
}
.icon-checkmark:before {
	content: "\e849";
}
.icon-filter:before {
	content: "\e84a";
}
.icon-share:before {
	content: "\e901";
}
.icon-new-tab:before {
	content: "\e902";
}
.icon-embed:before {
	content: "\e903";
}
.icon-embed2:before {
	content: "\e904";
}
.icon-terminal:before {
	content: "\e905";
}
.icon-share2:before {
	content: "\e906";
}
.icon-mail:before {
	content: "\e907";
}
.icon-mail2:before {
	content: "\e908";
}
.icon-mail3:before {
	content: "\e909";
}
.icon-mail4:before {
	content: "\e90a";
}
.icon-google:before {
	content: "\e90b";
}
.icon-google-plus:before {
	content: "\e90c";
}
.icon-google-plus2:before {
	content: "\e90d";
}
.icon-google-plus3:before {
	content: "\e90e";
}
.icon-google-drive:before {
	content: "\e90f";
}
.icon-facebook:before {
	content: "\e910";
}
.icon-facebook2:before {
	content: "\e911";
}
.icon-facebook3:before {
	content: "\e912";
}
.icon-ello:before {
	content: "\e913";
}
.icon-instagram:before {
	content: "\e914";
}
.icon-twitter:before {
	content: "\e915";
}
.icon-twitter2:before {
	content: "\e916";
}
.icon-twitter3:before {
	content: "\e917";
}
.icon-feed2:before {
	content: "\e918";
}
.icon-feed3:before {
	content: "\e919";
}
.icon-feed4:before {
	content: "\e91a";
}
.icon-youtube:before {
	content: "\e91b";
}
.icon-youtube2:before {
	content: "\e91c";
}
.icon-youtube3:before {
	content: "\e91d";
}
.icon-youtube4:before {
	content: "\e91e";
}
.icon-twitch:before {
	content: "\e91f";
}
.icon-vimeo:before {
	content: "\e920";
}
.icon-vimeo2:before {
	content: "\e921";
}
.icon-vimeo3:before {
	content: "\e922";
}
.icon-lanyrd:before {
	content: "\e923";
}
.icon-flickr:before {
	content: "\e924";
}
.icon-flickr2:before {
	content: "\e925";
}
.icon-flickr3:before {
	content: "\e926";
}
.icon-flickr4:before {
	content: "\e927";
}
.icon-picassa:before {
	content: "\e928";
}
.icon-picassa2:before {
	content: "\e929";
}
.icon-dribbble:before {
	content: "\e92a";
}
.icon-dribbble2:before {
	content: "\e92b";
}
.icon-dribbble3:before {
	content: "\e92c";
}
.icon-forrst:before {
	content: "\e92d";
}
.icon-forrst2:before {
	content: "\e92e";
}
.icon-deviantart:before {
	content: "\e92f";
}
.icon-deviantart2:before {
	content: "\e930";
}
.icon-steam:before {
	content: "\e931";
}
.icon-steam2:before {
	content: "\e932";
}
.icon-dropbox:before {
	content: "\e933";
}
.icon-onedrive:before {
	content: "\e934";
}
.icon-github:before {
	content: "\e935";
}
.icon-github2:before {
	content: "\e936";
}
.icon-github3:before {
	content: "\e937";
}
.icon-github4:before {
	content: "\e938";
}
.icon-github5:before {
	content: "\e939";
}
.icon-wordpress:before {
	content: "\e93a";
}
.icon-wordpress2:before {
	content: "\e93b";
}
.icon-joomla:before {
	content: "\e93c";
}
.icon-blogger:before {
	content: "\e93d";
}
.icon-blogger2:before {
	content: "\e93e";
}
.icon-tumblr:before {
	content: "\e93f";
}
.icon-tumblr2:before {
	content: "\e940";
}
.icon-yahoo:before {
	content: "\e941";
}
.icon-tux:before {
	content: "\e942";
}
.icon-apple:before {
	content: "\e943";
}
.icon-finder:before {
	content: "\e944";
}
.icon-android:before {
	content: "\e945";
}
.icon-windows:before {
	content: "\e946";
}
.icon-windows8:before {
	content: "\e947";
}
.icon-soundcloud:before {
	content: "\e948";
}
.icon-soundcloud2:before {
	content: "\e949";
}
.icon-skype:before {
	content: "\e94a";
}
.icon-reddit:before {
	content: "\e94b";
}
.icon-linkedin:before {
	content: "\e94c";
}
.icon-linkedin2:before {
	content: "\e94d";
}
.icon-lastfm:before {
	content: "\e94e";
}
.icon-lastfm2:before {
	content: "\e94f";
}
.icon-delicious:before {
	content: "\e950";
}
.icon-stumbleupon:before {
	content: "\e951";
}
.icon-stumbleupon2:before {
	content: "\e952";
}
.icon-stackoverflow:before {
	content: "\e953";
}
.icon-pinterest:before {
	content: "\e954";
}
.icon-pinterest2:before {
	content: "\e955";
}
.icon-xing:before {
	content: "\e956";
}
.icon-xing2:before {
	content: "\e957";
}
.icon-flattr:before {
	content: "\e958";
}
.icon-foursquare:before {
	content: "\e959";
}
.icon-paypal:before {
	content: "\e95a";
}
.icon-paypal2:before {
	content: "\e95b";
}
.icon-paypal3:before {
	content: "\e95c";
}
.icon-yelp:before {
	content: "\e95d";
}
.icon-file-pdf:before {
	content: "\e95e";
}
.icon-file-openoffice:before {
	content: "\e95f";
}
.icon-file-word:before {
	content: "\e960";
}
.icon-file-excel:before {
	content: "\e961";
}
.icon-libreoffice:before {
	content: "\e962";
}
.icon-html5:before {
	content: "\e963";
}
.icon-html52:before {
	content: "\e964";
}
.icon-css3:before {
	content: "\e965";
}
.icon-git:before {
	content: "\e966";
}
.icon-svg:before {
	content: "\e967";
}
.icon-codepen:before {
	content: "\e968";
}
.icon-chrome:before {
	content: "\e969";
}
.icon-firefox:before {
	content: "\e96a";
}
.icon-IE:before {
	content: "\e96b";
}
.icon-opera:before {
	content: "\e96c";
}
.icon-safari:before {
	content: "\e96d";
}
.icon-IcoMoon:before {
	content: "\e96e";
}

