/* MAIN STYLEZZ - BASIC ------------------------------- */

body,
html {
	background: radial-gradient(@colorBorderDefault, @body-bg) !important;
	position: relative;
	overflow-x: hidden;
}

#tazkie-logo {
	background:url(/img/tazkie-logo.png) center top;
	width: 111px;
	height: 32px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

a {
	font-weight:600;
	-ms-transition: all 0.3s ease-out;
	.transition(all 0.3s ease-out);
	text-decoration: @link-decoration;
	cursor: pointer;
}

.label-required {
	color: @colorRequirement;
	text-transform: lowercase;
	font-style: italic;
}

.hint-text {
	color: rgba(76,69,61,0.50);
	font-weight:400;
}

.body-text {
	padding: 0 0 0 140px;
	font-size: 2.28em;
	line-height: 1.3em;
	color: @colorPrimaryHalf;

		h1 {
			font-size: 2em;
			color: @colorPrimaryQuater;
		}

		.center {
			text-align: center;
			padding-top: 70px;
		}

}

/* TASK TOPNAV MENU ------------------------------- */

.topnav{
	/* .flexbox();
	.justify-content(space-between); */

	width: 100%;
	height: 4em;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	.transition(500ms);
	.box-shadow(inset 0px -1px 0px 0px @colorPrimaryQuater);

	background: @colorTopNavBackground;
	color: @colorNavLink;

	list-style: none;
	text-transform: none;
	line-height: 4em;

	& a {
			display: block;
			height: 100%;
			font-size: 1.14em;
			color: @colorPrimaryHalf;

			padding: 0 20px;
			text-transform: uppercase;
			font-weight: 400;
			text-align:left;
	}

	a:hover {
		font-weight: 500;
		color: @colorPrimaryFull;
		.box-shadow(inset 0px -5px 0px 0px @colorPrimaryFull);
	}

	a:active {
		font-weight: 500;
		background: @ucolorPositive;
		color: @colorPrimaryFull;
		.box-shadow(inset 0px -5px 0px 0px @colorPrimaryFull);
	}

}

body {
	&.is-navigation {
		padding-top: 60px;
	}
	&.is-open {
		.topnav {
			padding-left: 240px;
		}
		.lt-content {
			padding-left: 240px;
		}
	}
}

.navbar-nav > li > a  {
	padding-bottom: 18px;
}


/* TASK LIST SIDER & WRAPPER STYLEZZ ------------------------------- */

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
		-ms-transition: all 0.5s ease;
    .transition(all 0.5s ease);

		&.toggled {
			padding-left: 240px;

				& #sidebar-wrapper {
						width: 300px;
				}

				& #page-content-wrapper {
						position: absolute;
						margin-right: -240px;
				}
		}
}

#sidebar-wrapper {
    z-index: 1000;
    left: 300px;
    width: 60px;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: @colorPrimaryFull;
		-ms-transition: all 0.5s ease;
    .transition(all 0.5s ease);
		.box-shadow(0px 2px 5px 0px @shadowBorderDefault, 0px 2px 5px 0px @shadowBorderDefault);

		&::-webkit-scrollbar {
		  display: none;
		}
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;

		& li {
		    position: relative;
		    line-height: 1.42em;
		    display: inline-block;
		    width: 100%;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					height: 100%;
					width: 0;
					background: @colorNavLinkBGSelected;
					 -ms-transition: width .3s ease-in;
					.transition(width .3s ease-in);
				}

				& a {
				    display: block;
				    color: @colorNavLink;
				    text-decoration: none;
						font-weight: 400;
				    /* padding: 10px 15px 10px 30px; */
				}

				& i {
						padding-right: 5px;
						padding-bottom: 5px;
						font-size: 2.57em;
						vertical-align: middle;
				}

				& .icon-projectname {
					padding: 0 5px 5px 5px;
					background: @DropDownProjectName;
					vertical-align: middle;
					font-size: 1.7em;
					margin-right: 15px;
					line-height: 100%;
					display: inline-block;

					&:before {
						content:"PP";
					}

				}

				&:first-child {
					a {
						// padding: 18px 15px 18px 30px;
						background: @colorTopNavDropdownBackground;
						line-height: 2.5em;
						padding: 10px 15px 10px 10px;
					}

				}

		}


	li:hover:before,
	li.open:hover:before {
		width: 100%;
		-ms-transition:  width .3s ease-in;
		.transition(width .3s ease-in);
	}

	li a:hover,
	li a:active,
	li a:focus,
	li.open a:hover,
	li.open a:active,
	li.open a:focus{
		color: @colorPrimaryFull;
		text-decoration: none;
		background: transparent;
	}

	li.open {

		&:before {
			background: @colorTopNavDropdownBackground !important;
			color: @colorPrimaryFull !important;
		}

		&:hover {
			background: @colorTopNavDropdownBackground !important;
			color: @colorPrimaryFull !important;
		}

		a:hover {
			background: @colorTopNavDropdownBackground !important;
			color: @colorPrimaryFull !important;
		}

		ul li a {
			background: @colorTopNavDropdownBackground !important;

			&:hover {
				background: @colorNavLinkBGSelected !important;
			}
		}
	}

	.position-bottom {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 240px;

			&.is-closed {
				width: -240px;
				overflow-y: auto;
				overflow-x: hidden;
				}
		}

		.caret{
			border-width: 8px;
			margin-left: 16px;
		}


}


.sidebar-nav .dropdown-menu {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0;
		border-radius: 0;
		border: none;

		& li {
			line-height: 1.42em;
			background-color: @colorPrimary3Quater;
			.box-shadow(none);

		}
}


/*-------------------------------*/
/*  Hamburger-Cross & Animations */
/*-------------------------------*/
.hamburger {
	position: relative;
	top: 10px;
	z-index: 999;
	display: block;
	width: 35px;
	height: 35px;
	margin-left: 60px;
	margin-right: 20px;
	background: transparent;
	border: none;

	&:hover,
	&:focus,
	&:active {
	  outline: none;
	}

	&.is-closed:before {
	  content: '';
	  display: block;
	  width: 100px;
	  color: @ucolorPositive;
	  line-height: 2em;
	  text-align: center;
	  opacity: 0;
	  .transform(translate3d(0,0,0));
	  .transition(all .35s ease-in-out);
	}

	&.is-closed:hover:before {
	  opacity: 1;
	  display: block;
	  .transform(translate3d(-100px,0,0));
	  .transition(all .35s ease-in-out);
	}

	&.is-closed .hamb-top,
	&.is-closed .hamb-middle,
	&.is-closed .hamb-bottom,
	&.is-open .hamb-top,
	&.is-open .hamb-middle,
	&.is-open .hamb-bottom {
		position: absolute;
		left: 0;
		height: 4px;
		width: 100%;
	}

	&.is-closed .hamb-top,
	&.is-closed .hamb-middle,
	&.is-closed .hamb-bottom {
		background-color: @colorPrimaryHalf;
	}

	&.is-closed:hover .hamb-top,
	&.is-closed:hover .hamb-middle,
	&.is-closed:hover .hamb-bottom {
		background-color: @colorPrimaryFull;;
	}

	&.is-closed .hamb-top {
		top: 5px;
		.transition(all .35s ease-in-out);
	}

	&.is-closed .hamb-middle {
		top: 50%;
		margin-top: -2px;
	}

	&.is-closed .hamb-bottom {
		bottom: 5px;
		.transition(all .35s ease-in-out);
	}

	&.is-closed:hover .hamb-top {
		top: 0;
		.transition(all .35s ease-in-out);
	}

	&.is-closed:hover .hamb-bottom {
		bottom: 0;
		.transition(all .35s ease-in-out);
	}

	&.is-open .hamb-top,
	&.is-open .hamb-middle,
	&.is-open .hamb-bottom {
		background-color: @colorPrimaryFull;;
	}

	&.is-open .hamb-top,
	&.is-open .hamb-bottom {
		top: 50%;
		margin-top: -2px;
	}

	&.is-open .hamb-top {
	.transform(rotate(45deg));
	.transition(transform .2s cubic-bezier(.73,1,.28,.08));
	}

	&.is-open .hamb-middle {
		display: none;
	}

	&.is-open .hamb-bottom {
		.transform(rotate(-45deg));
	  .transition(transform .2s cubic-bezier(.73,1,.28,.08));
	}

	&.is-open:before {
		content: '';
		display: block;
		width: 100px;
		opacity: 0;
		.transform(translate3d(0,0,0));
		.transition(all .35s ease-in-out);
	}

	&.is-open:hover:before {
		opacity: 1;
		display: block;
		.transform(translate3d(-100px,0,0));
	  .transition(all .35s ease-in-out);
	}
}

/* BUTTON STYLEZZ ------------------------------- */
.btn {
	/* padding: 15px 20px; */
	/* padding: 10px 20px; */
	border: 0 none;
	/* font-weight: 600; */
	text-transform: uppercase;
	-ms-transition: all 0.6s ease-out;
	.transition(600ms);

	&.btn-auto {
		width: auto;
	}

	&.btn-small {
		width: auto;
		height: 40px;
		padding: inherit;
	}

	&:focus,
	&:active.focus,
	&.active:focus {
		outline: 0 none;
	}

	&.btn-primary {
		background: @colorFunctionDefault;
		.box-shadow(inset 0px -3px 0px 0px @shadowFunctionDefault, 0px 2px 5px 0px @shadowBorderDefault);
		color: @ucolorPositive;

		&:hover,
		&:focus,
		&:active,
		&.active,
		&.open > .dropdown-toggle.btn-primary {
			background: @colorFunctionHover;
			.box-shadow(inset 0px -3px 0px 0px @shadowFunctionHover);
		}

		&:active,
		&.active {
			background: @colorFunctionActive;
			.box-shadow(inset 0px -3px 0px 0px @shadowFunctionActive);
			margin-bottom: -3px;
			margin-top: 3px;
		}
	}

	/*-------------------------------*/
	/*    SOCIAL BUTTONS STYLEZZ     */
	/*-------------------------------*/

	&.btn-facebook{
		background: @colorFButtonDefault;
		padding: 15px 45px;
		.box-shadow(inset 0px -3px 0px 0px @shadowFButtonDefault, 0px 1px 3px 0px @shadowBorderDefault);

		&:hover,
		&:focus,
		&:active,
		&.active,
		&.open > .dropdown-toggle.btn-facebook {
			background: @colorFButtonHover;
			.box-shadow(inset 0px -3px 0px 0px @shadowFButtonHover);
			color: @ucolorPositive;
		}
	}

	&.btn-google{
		background: @colorGButtonDefault;
		padding: 15px 45px;
		.box-shadow(inset 0px -3px 0px 0px @shadowGButtonDefault, 0px 1px 3px 0px @shadowBorderDefault);
			&:hover,
			&:focus,
			&:active,
			&.active,
			&.open > .dropdown-toggle.btn-google {
				background: @colorGButtonHover;
				.box-shadow(inset 0px -3px 0px 0px @shadowGButtonHover);
				color: @ucolorPositive;
			}
				.google-fix{
					padding-top: 7px;
					left: 6px;
				}
	}
}

/* INPUT & FORM STYLEZZ ------------------------------- */
.form-control:focus,
*:focus,
*:active {
	.box-shadow(none);
	outline: none;
}

.form-group{
	position:relative;
	margin-top: 40px;
	margin-bottom: 40px;
}

.input-group {
	margin: 32px 0px;
}

input {
	width:100%;
	font-size:1em;
	font-weight: 600;
	color: @text-color-focus;
	padding:10px 10px 10px 5px;
	display:block;
	border:none;
	border-bottom:1px solid @colorBorderDefault;
	-ms-transition: all 0.5s ease-out;
	.transition(500ms);

	&:focus ~ label,
	&:hover ~ label,
	&:valid ~ label     {
		top:-20px;
		font-size:1em;
		color: @colorFunctionActive;
	}

	&:focus ~ .highlight {
	  animation:inputHighlighter 700ms ease;
	}

	&:focus ~ .bar:before,
	&:focus ~ .bar:after {
	  width:50%;
	}

	&[type]{
		border: none;
		.box-shadow(none);
		border-bottom: 2px solid @colorBorderDefault;
		.border-radius(0px);
	}

}

@keyframes inputHighlighter {
  from  { background: @colorFunctionHover; }
  to    { width:0; background:transparent; }
}

label{
	color:@text-color;
	text-transform: uppercase;
	font-size:1em;
	font-weight:400;
	position:absolute;
	pointer-events: none;
	left:5px;
	top:10px;
	-ms-transition: all 0.5s ease;
	.transition(500ms ease all);
}

.bar  {
	position:relative; display:block; width:100%;
	&:before,
	&:after {
		content:'';
		height:2px;
		width:0;
		bottom:1px;
		position:absolute;
		top:25%;
		background: @colorFunctionActive;
		-ms-transition: all 0.7s ease;
		.transition(700ms ease all);
	}

	&:before {
		left: 50%;
	}

	&:after {
		right: 50%;
	}
}

.highlight {
	position:absolute;
	height:60%;
	width:100%;
	top:25%;
	left:0;
	pointer-events:none;
	opacity:0.5;
}

.static-label{
	color:@text-color;
	text-transform: uppercase;
	font-size:1em;
	font-weight:400;
	position: inherit;
	display: block;

}

/* FORM ELEMENTS - ICON BOX  ------------------------------- */

.icon-box {
    width: 40px;
		height: 40px;
    display:inline-block;
		vertical-align: middle;
    float:left;
		font-family: 'tazkie_final';
		font-size: 1.7em;
		line-height: 1.4em;
		padding-left: 0.5em;

		input{
			visibility:hidden;

			&:focus + label,
			&:hover + label {
			-ms-transition: all 0.5s ease;
			.transition(500ms ease all);
			background: #FFFFFF;
			border: 1px solid @colorFunctionHover;
			.box-shadow(0px 0px 2px 0px rgba(123,117,112,0.30), 0px 2px 5px 0px rgba(123,117,112,0.50));

			}

			&:checked + label {
			background: #FAF9F8;
			border: 1px solid rgba(123,117,112,0.25);
			.box-shadow(inset 0px 0px 5px 0px rgba(123,117,112,0.25));

			}
		}
}


/* INPUT - VALIDATION  ------------------------------- */
.errors{
	width: 100%;
	padding: 20px 10px 10px;
	background-color: @colorRequirement;
	color: @ucolorPositive;

	.ico-validation {
			font-size: 4em;
			color: rgba(255,255,255,0.70);
		}

	h3 {
		text-align: center;
		margin-top: 0px;
		padding-top: 5px;
	}

	ul {
		padding-left: 4em;
	}

}

.error{
		color: @colorValidationError;

		input:invalid ~ label     {
			top:-20px;
			font-size:1em;
			color: @colorValidationError;
			border-bottom: @colorValidationError;
		}

}

/* FORM CONTROLLZ - FOOTER ------------------------------- */

.footer {
  position: fixed;
	font-size: 18px;
	padding-top: 3px;
  bottom: 0;
  width: 100%;
	height: 50px;
  background-color: @fFooterBackground;
	background: @fFooterTextColor;
	.box-shadow(inset 0px -1px 0px 0px @colorPrimaryQuater);

	& .fpane-left{
		padding: 10px 0px 0px 35px;
		vertical-align: middle;
	}

	& .fpane-right{
		padding: 10px 0px 0px 35px;
		vertical-align: middle;
	}

	& .text-center{
		position: relative;
		top: 2px;
	}

	& .closebox {
		text-decoration: none;

		i {
				position: relative;
				/* top: -4px; */
				font-size: 1.4em;
		}
		& .text {
			position: relative;
			bottom: 5px;
		  left: 5px;
			text-decoration: underline;;
		}

	}

}


/* LOGIN PAGE STYLEZZ  ------------------------------- */
.dialog-header,
.login-header {
	height: 100%;
	width: 100%;
	font-weight: 600;
	position: relative;

	.heading {
		text-align: center !important;
		padding-top: 7%;
		padding-top: 7vh;
	}
	.h1 {
		margin-bottom: 0;
	}

	/* .closebox {
		position: fixed;
		right: 2em;
		top: 0;

		a {
				text-decoration: none;
				font-size: 4em;
		}

	} */

}

.form,
.form-login,
.form-newproject,
.form-tasklist,
.form-registration {
	padding: 15px;
	margin: 0 auto;

	button[type="submit"] {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.box {
	max-width: 580px;
	margin: 0 auto;
	padding: 10px 20px 30px 30px;
	background: @ucolorPositive;
	.box-shadow(0px 0px 2px 0px @shadowBorderDefault, 0px 2px 5px 0px @shadowBorderDefault);

	.col-xs-6 {
		padding-left: 8px;
		padding-right: 8px;
	}

	h2{
		margin-bottom: 20px;
		line-height: 1.4em;
	}

}


/* TASK LIST PAGE STYLEZZ  ------------------------------- */
