/* FONT & TEXT SETTINGS ------------------------------- */
@font-family-base: 'Open Sans', sans-serif;

@text-color-focus: #4C453E;
@text-color: rgba(76,69,62,0.70);
@font-size-base: 14px;

@font-size-large: ceil((@font-size-base * 1.25)); // ~18px
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1: floor((@font-size-base * 2.15)); // ~30px
@font-size-h2: floor((@font-size-base * 1.75)); // ~24px
@font-size-h3: ceil((@font-size-base * 1.25)); // ~18px
@font-size-h4: @font-size-base; // ~14px
@font-size-h5: ceil((@font-size-base * 0.85)); // ~12px
@font-size-h6: ceil((@font-size-base * 0.7)); // ~10px

/* By default, this inherits from the `<body>`.------------------------------- */
@headings-font-family:inherit;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;

/* LINK STYLE SETTINGS ------------------------------- */
@link-color: @colorFunctionActive;
@link-hover-color: @colorFunctionHover;
@link-hover-decoration: none;
@link-decoration: underline;

@colorNavLink: rgba(255,255,255,0.50);
@colorNavLinkHover: #4C453E;


/* BODY SETTINGS ------------------------------- */
@body-bg: #EEEDEC;

@colorPrimaryFull: #4C453E;
@colorPrimary3Quater: rgba(76,69,62,0.70);
@colorPrimaryHalf: rgba(76,69,62,0.50);
@colorPrimaryQuater: rgba(76,69,62,0.25);

/* TOPNAV & NAVBAR SELECTIONS & HOVERS ------------------------------- */
@colorNavBarSelected: rgba(255,255,255,0.10);


@colorTopNavBackground: rgba(255,255,255,0.50);
@colorTopNavDropdownBackground: rgba(51,46,42,0.70);

@colorNavLinkBGSelected: #EEEDEC;

@dropdown-caret-color: rgba(76,69,62,0.40);
@DropDownProjectName: rgba(255,255,255,0.15);

/* FUNCTIONAL FOOTER ------------------------------- */
@fFooterBackground: #f5f5f5;
@fFooterTextColor: #F6F6F5;



/* FUNCTIONS - GLOBAL ------------------------------- */
@colorFunctionDefault: rgba(73, 106, 195, 0.50);
@colorFunctionActive: rgba(73,106,195,0.70);
@colorFunctionHover: #4A6BC3;

@shadowFunctionDefault: rgba(54,79,146,0.50);
@shadowFunctionActive: rgba(54,79,146,0.70);
@shadowFunctionHover: #364F92;

@colorBorderDefault: #EEEDEC;
@shadowBorderDefault: rgba(76,69,62,0.50);

@ucolorPositive: #FFFFFF;

/* VALIDATION COLORZZ ------------------------------- */
@colorValidationError: #F63B00;
@colorValidationSuccess: #8BC34A;
@colorRequirement: rgba(246,58,0,0.80);

/* BUTTONS - SPECIFIC PARTZZ ------------------------------- */
@colorFButtonDefault: rgba(59,88,152,0.50);
@colorFButtonHover: #3B5998;
@shadowFButtonDefault: rgba(35,55,112,0.50);
@shadowFButtonHover: #233870;

@colorGButtonDefault: rgba(231,79,58,0.50);
@colorGButtonHover: #E8503A;
@shadowGButtonDefault: rgba(194,31,7,0.50);
@shadowGButtonHover: #C22008;
